.createContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 590px;
  background-color: #3c5977;
}
.createbutton {
  height: 55px;
  width: 200px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  border-radius: 0;
  color: white;
  background: rgba(60, 89, 119, 0.8);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.createbutton:hover {
  background-color: gray;
  text-justify: center;
  color: white;
  letter-spacing: 4px;
}

.textfieldlabel {
  color: #3c5977 !important;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif !important;
}
.textfieldinput {
  color: black !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  font-family: "Comfortaa", cursive !important;
}
